{% extends 'base.html' %}

{% load static %}

{% block title %}{{store.name}} | Clothes, Devices and more... Exact{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/store.css' %}">
<link rel="stylesheet" href="{% static 'css/product_card.css' %}">
{% endblock %}

{% block navbar %}
{% include 'components/navbar.html' %}
{% endblock %}

{% block content %}
<div style="width:100%;height:190px;background-color:#ec5620;gap:2rem;padding-inline:7.5rem;"
    class="d-flex align-items-center store">
    <img style="border-radius: 50%;" src="{{ store.image.url }}" width="90" height="90">
    <div style="color:#f8f9fa;">
        <h1>{{store.name}}</h1>
        <p style="margin-bottom: 0;">{{ product_count }} ürün | {{ order_count }} sipariş | 4.5 yıldız</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-3">
            <div class="filterCard">
                <p>Yakında...</p>
            </div>
        </div>
        <div class="col-12 col-md-9">
            <div class="topBar">
                <div class="gridCard">
                    <button class="gridButton bi twoGrid"></button>
                    <button class="gridButton bi threeGrid buttonActive"></button>
                    <button class="gridButton fourGrid"><img style="margin-top:-4px;" width="16" height="16"
                            src="{% static 'img/fill4-4.svg' %}" alt=""></button>
                </div>
                <form action="{% url 'store_detail' slug=store.slug %}"><select class="form-select orderBar"
                        aria-label="Default select example" onchange="this.options[this.selectedIndex].value && (window.location.href = '?ORDER=' + this.options[this.selectedIndex].value);">
                        <option selected="false">Önerilen</option>
                        <option value="priceLow">En Düşük Fiyat</option>
                        <option value="priceHigh">En Yüksek Fiyat</option>
                        <option value="3">En Beğenilenler</option>
                    </select>
                </form>
            </div>
            <div class="products">
                <div id="needRow" class="row row-cols-md-3">
                    {% for product in products %}
                    <div class="col">
                        <div onmouseover="showCard({{ product.id }})" onmouseout="hideCard({{ product.id }})"
                            id="productCard-{{ product.id }}" class="productCard">
                            <img src="{{ product.image.url }}">
                            <p class="productName">{{ product.name }}</p>
                            {% if product.discount %}
                            <small class="oldPrice">{{ product.price }} TL</small>
                            <small class="discount">-{{ product.discount }}%</small>
                            <div class="d-flex align-items-center justify-content-between">
                                <p class="newPrice">{{ product.give_discount_price }} TL</p>
                                <!--<div class="pieceDiv">
                                    <button id="countIncrease" class="increaseButton">+</button>
                                    <input id="countInput" type="number" class="pieceInput" value="1">
                                    <button id="countDecrease" class="decreaseButton">-</button>
                                </div>-->
                            </div>
                            {% else %}
                            <div>
                                <p class="newPrice">{{ product.price }}TL</p>
                            </div>
                            {% endif %}
                            <button id="likeButton-{{ product.id }}" class="heartButton bi hideInfo"></button>
                            <button id="cartButton-{{ product.id }}" class="cartButton bi hideInfo"
                                onclick="addCart({{ product.id }},1)">Sepete Ekle</button>
                        </div>
                    </div>
                    {% empty %}
                    <div class="col">
                        <div class="alert alert-warning" role="alert">
                            Bu mağazada ürün bulunmamaktadır.
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/list_product.js' %}"></script>
<script src="{% static 'js/add_cart.js' %}"></script>
<script src="{% static 'js/product_card.js' %}"></script>
<script src="{% static 'js/order_products.js' %}"></script>
{% endblock %}