.productDetail{
    margin-top: 2rem;
    display: flex;
}

.productImage{
    width: 500px;
    border: 1px solid #d2d8d6;
    border-radius: 1rem;
}

.productImage img{
    width: 100%;
    border-radius: 1rem;
}

.productName{
    font-size: 1.5rem;
}

.pieceDiv{
    display: flex;
    align-items: center;
}

.increaseButton{
    border:none;
    background-color: #f8f9fa;
    border-top: 1px solid #d2d8d6;
    border-bottom: 1px solid #d2d8d6;
    border-left: 1px solid #d2d8d6;
    width: 36px;
    height: 36px;
    border-bottom-left-radius: .5rem;
    border-top-left-radius: .5rem;
}

.decreaseButton{
    border:none;
    border-top: 1px solid #d2d8d6;
    border-bottom: 1px solid #d2d8d6;
    border-right: 1px solid #d2d8d6 ;
    background-color: #f8f9fa;
    width: 36px;
    height: 36px;
    border-bottom-right-radius: .5rem;
    border-top-right-radius: .5rem;
}

.pieceInput{
    width: 36px;
    height: 36px;
    border: none;
    border-top: 1px solid #d2d8d6;
    border-bottom: 1px solid #d2d8d6;
    align-items: center;
    text-align: center;
    -moz-appearance:textfield;
}

.pieceInput::-webkit-outer-spin-button,
.pieceInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.productInfo{
    margin-left: 2rem;
}

.addCartButton{
    border: none;
    background-color: #ec5620;
    color: #fff;
    font-size: 1rem;
    border: 1px solid #ec5620;
    border-radius: .5rem;
    padding: 1rem;
}

.addCartButton::before{
    content: "\F244";
    margin-right: .5rem;
}

.orderButton{
    border: none;
    background-color: transparent;
    color: #ec5620;
    font-size: 1rem;
    border: 1px solid #ec5620;
    border-radius: .5rem;
    padding: 1rem;
}
 
.productButtonGroup{
    margin-top: .5rem;
    display: flex;
    flex-direction: row;
}