.store img{
    -webkit-box-shadow: 0px 0px 48px 16px rgba(255, 184, 113, 0.9);
    -moz-box-shadow: 0px 0px 24px 16px rgba(255, 184, 113, 0.9);
    box-shadow: 0px 0px 48px 4px rgba(255, 184, 113, 0.9);
}

.filterCard{
    margin-top: 1rem;
    width: 100%;
    background-color: #f8f9fa;
    border: 1px solid #d8d2d2;
    border-radius: 1rem;
}

.filterCard p{
    color: #000;
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-block: 1rem;
}

.topBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-block:1rem;
}

.orderBar{
    border: 1px solid #d8d2d2;
    border-radius: 1rem;
    width: 250px;
}

.orderBar:focus{
    outline: none !important;
}

.gridButton{
    border: none;
    border-radius: 1rem;
    width: 36px;
    height: 36px;
    background-color: transparent;
}

.twoGrid::before{
    content: "\F3FB";
}

.threeGrid::before{
    content: "\F3F8";
}

.gridButton:focus{
    outline: none !important;
}

.buttonActive{
    background-color: #f8f9fa;
}

